.page {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
    padding: 24px;
}

.container {
    background: white;
    padding: 24px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    max-width: 700px;
    width: 100%;
}

.check {
    color: green;
    font-size: 32px;
    background: #dcfce7;
    border-radius: 999px;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 16px;
}



.confirm {
    margin: 12px 0 20px;
    font-size: 32px;
    font-weight: 700;
}

.backLink {
    display: block;
    width: fit-content;
    margin: 24px auto 12px;
    background-color: rgb(134, 129, 129);
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
}


.backLink:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}