.footer {
  background-color: #dbeafe;
  color: rgb(1, 1, 37);
  padding: 14px 24px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.12);;
}

.footer__content {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1.5rem;
}

.footer__link {
  color: rgb(1, 1, 37);
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: #1abc9c;
}
