.card {
    background: #ffffff;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 15px;
    min-width: 450px;
    margin-left: 25px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.title {
    font-size: 18px;
    color: rgb(1, 1, 54);
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 0px;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;

}

.label {
    color: rgb(1, 1, 54);
    font-size: 16px;
    font-weight: 600;
}

.value {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75);
    background-color: rgba(185, 185, 185, 0.12);
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 5px;
}