.title {
    color: rgb(1, 1, 54);
    font-weight: bold;
}

.description {
    color: rgb(1, 1, 54, .7);
    margin: 0px;
    font-size: 14px;
    min-height: 2lh;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.price {
    color: rgb(14, 14, 240);
    font-weight: bold;
}

.productCard {
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    width: 300px;
    height: fit-content;
    margin: 10px;
    padding: 15px;
}

.productPlaceholder {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: #DBEAFE;
    color: rgb(1, 1, 54);
    width: 300px;
    min-height: 200px;
}

.addToCartBtn {
    background-color: rgb(134, 129, 129);
    color: white;
}