.title {
    color: rgb(1, 1, 54);
    font-weight: bold;
}

.description {
    color: rgb(1, 1, 54, .7)
}

.price {
    color: rgb(14, 14, 240);
    font-weight: bold;
}

.productCard {
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    width: 300px;
    height: 375px;
    margin: 10px;
    padding: 15px;
}

.productPlaceholder {
    background: #DBEAFE;
    color: rgb(1, 1, 54);
    width: 300px;
    height: 200px;
    text-align: center;
}