name: Docker build app
on: [push]

jobs:
  compose:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v5
        
      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
        with:
          version: latest

      - name: Build and run docker compose
        run: docker compose up --build

